.asLabel {
    width: 70px;
}

.backgroundImg {
    background-image: url("images/noodles.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 1250px;
    width: auto;
}